/* PLANNING */
#planning {
padding-left: 0;
margin-left: 210px;
overflow: auto;
}
#planning table, #planning tr, #planning td {
text-align: center;
border-width:1px;
border-style:solid;
border-color:black;
}
td.cellDay {
width: 120px;
font-weight: bold;
}
td.cellHour {
width: 70px;
vertical-align: top;
height: 30px;
font-weight: bold;
}
